.container {
    max-width: 111ch;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.3);
}

hr {
    max-width: 10ch;
    margin: 2em auto;
    border: 1px solid grey;
}

header,
footer {
    text-align: center;
}

header p,
footer p {
    color: #878;
}

header h1 {
    padding-bottom: 0.5rem;
}

header p {
    max-width: 50ch;
    margin: 0 auto;
    font-style: italic;
}

main {
    display: flex;
    gap: 2em;
    padding: 1em 2em;;
}